<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />

        <link rel="icon" href="public/favicon.ico" />

        <title>Algorithm Calculator</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="src/assets/css/custom.css" rel="stylesheet"/>

        <!-- Start Algorithms -->
        <script src="algorithmsPythonToNode/utils.js"></script>
        <script src="algorithmsPythonToNode/AffinCipher.js"></script>
        <script src="algorithmsPythonToNode/CaesarCipher.js"></script>
        <!-- <script src="algorithmsPythonToNode/EuclideAlgorithmExtended.js"></script> -->
        <!-- <script src="algorithmsPythonToNode/ChineseRemainderTheorem.js"></script> -->
        <!-- /End Algorithms -->
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <div class="d-flex flex-column align-center justify-center py-8 mb-10">
                        <div class="py-5 font-bold text-center">
                            <h2 id="app_title" class="white--text">Algorithm Calculator with                            
                                <v-icon
                                    large
                                    dark
                                >
                                    mdi-language-javascript
                              </v-icon>  
                            </h2>   
                        </div>
                        <v-row class="mt-2 justify-center mb-4 px-10">
                            <v-col md="2" sm="6" xs="12">
                                <v-card shaped class="rounded-card" @click="selectAlgorithm(affinCipherCode)">
                                    <v-card-title class="card-title">{{ affinCipherCode }}</v-card-title>
                                    <v-card-subtitle class="card-subtitle">
                                        El cifrado afín es una extensión del cifrado César. Proporciona una mayor seguridad debido a la introducción del parámetro b, 
                                        que agrega un desplazamiento adicional en el cifrado. El cifrado afín es vulnerable a ataques y otros métodos criptoanalíticos más avanzados.
                                    </v-card-subtitle>
                                    <v-card-actions>
                                        <v-btn icon>
                                            <v-icon>mdi-calculator-variant</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-col>
                            <v-col md="2" sm="6" xs="12">
                                <v-card shaped class="rounded-card" @click="selectAlgorithm(caesarCipherCode)">
                                    <v-card-title class="card-title">{{ caesarCipherCode }}</v-card-title>
                                    <v-card-subtitle class="card-subtitle">
                                        El cifrado César es un tipo de cifrado de sustitución monoalfabético en el que cada letra en el texto original es desplazada un número fijo 
                                        de posiciones hacia la derecha en el alfabeto para obtener el texto cifrado. El cifrado César es fácilmente vulnerable a ataques de fuerza bruta y 
                                        análisis de frecuencia debido a su naturaleza predecible y patrones repetitivos.
                                    </v-card-subtitle>
                                    <v-card-actions>
                                        <v-btn icon>
                                        <v-icon>mdi-calculator-variant</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                  </v-card>
                            </v-col>
                            <v-col md="2" sm="6" xs="12">
                                <v-card shaped class="rounded-card" @click="selectAlgorithm(euclideCipherCode)">
                                    <v-card-title class="card-title">{{ euclideCipherCode }}</v-card-title>
                                    <v-card-subtitle class="card-subtitle">
                                        El algoritmo de Euclides extendido es una extensión del algoritmo de Euclides estándar. Es una herramienta 
                                        poderosa para encontrar el MCD de dos números enteros y calcular simultáneamente los coeficientes enteros x,y
                                        que satisfacen la ecuación ax+by=MCD(a,b).
                                    </v-card-subtitle>
                                    <v-card-actions>
                                        <v-btn icon>
                                        <v-icon>mdi-calculator-variant</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                  </v-card>
                            </v-col>
                            <v-col md="2" sm="6" xs="12">
                                <v-card shaped class="rounded-card" @click="selectAlgorithm(chineseRemainderCode)">
                                    <v-card-title class="card-title">{{ chineseRemainderCode }}</v-card-title>
                                    <v-card-subtitle class="card-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</v-card-subtitle>
                                    <v-card-actions>
                                        <v-btn icon>
                                        <v-icon>mdi-calculator-variant</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                  </v-card>
                            </v-col>
                        </v-row>
                        <div id="form_container_parent" class="d-flex justify-center mt-4" v-if="algType!=='' && algType!==null">
                            
                            <div id="form_container" class="rounded">
                                <div class="text-center pt-2"><h2>{{ algType }}</h2></div>
                                <v-row class="pa-10">
                                    <v-col cols="12" v-if="this.algType===this.affinCipherCode || this.algType===this.caesarCipherCode">
                                        <v-select
                                            v-model="cipherAction"
                                            :items="itemsCipher"
                                            label="Cipher action"
                                            item-value="value" item-text="name"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="12" v-if="this.algType===this.affinCipherCode || this.algType===this.caesarCipherCode">
                                        <v-text-field
                                            v-model="valuePlaintext"
                                            label="Text"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" v-if="this.algType===this.affinCipherCode || this.algType===this.euclideCipherCode || this.algType===this.chineseRemainderCode">
                                        <v-text-field
                                            v-model="valueA"
                                            label="A Value"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" v-if="this.algType===this.affinCipherCode || this.algType===this.euclideCipherCode || this.algType===this.chineseRemainderCode">
                                        <v-text-field
                                            v-model="valueB"
                                            label="B Value"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" v-if="this.algType===this.caesarCipherCode">
                                        <v-text-field
                                            v-model="valueShift"
                                            label="Shift Value"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </div>
                        </div>

                        <v-btn @click="calculate" class="mt-10 white--text submit-button" v-if="algType!=='' && algType!==null">
                            Calculate
                        </v-btn>

                        <div class="white--text resultado text-center" v-if="algType!=='' && algType!==null && resultado!==''">
                            <h3><b>Result:</b></h3>
                            <!-- {{ if this.algType === this.euclideCipherCode }} -->
                            <span>{{ resultado }}</span>
                        </div>
                    </div>

                    <v-footer
                        dark
                        padless
                    >
                        <v-card
                        class="flex"
                        flat
                        tile
                        >
                        <v-card-text class="py-2 white--text text-right">
                            {{ new Date().getFullYear() }} — <strong>Cryptography Group # 2</strong>
                        </v-card-text>
                        </v-card>
                    </v-footer>
                </v-main>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>    
        <script>
            new Vue({
                el: '#app',
                vuetify: new Vuetify({
                    //theme: { dark: true },
                }),
                data: {
                    valuePlaintext: "",
                    valueA: "",
                    valueB: "",
                    valueShift: "",
                    algType: "",
                    resultado: "",
                    itemsCipher: [
                        {
                            value: 1,
                            name: "Encrypt"
                        },
                        {
                            value: 0,
                            name: "Decrypt"
                        },
                    ],
                    cipherAction: 1, //1=encrypt, 0=decrypt
                    affinCipherCode: "Affin Cipher",
                    caesarCipherCode: "Caesar Cipher",
                    euclideCipherCode: "Euclide Cipher",
                    chineseRemainderCode: "Chinese Remainder",
                },
                methods:{
                    calculate(){
                        if(this.algType===this.affinCipherCode){
                            this.resultado = affineCipherEncryptDecrypt(this.valuePlaintext, this.valueA, this.valueB, this.cipherAction)
                        }
                        else if(this.algType===this.caesarCipherCode){
                            this.resultado = caesar_algorithm(this.valuePlaintext, this.valueShift, this.cipherAction)
                        }
                        else if (this.algType === this.euclideCipherCode) {
                            this.resultado = "gcd( " + this.valueA + ", " + this.valueB + " ) = " + "( " + gcdext(this.valueA, this.valueB).a + ", " + gcdext(this.valueA, this.valueB).prevx + ", " + gcdext(this.valueA, this.valueB).prevy + " )";
                        }
                    },
                    selectAlgorithm(value){
                        this.algType = value
                        this.resultado = ""
                        this.valuePlaintext = ""
                        this.valueA = ""
                        this.valueB = ""
                        this.valueShift = ""
                        this.cipherAction = 1
                    }
                }
              })
        </script>
    </body>
</html>
